@import '/styles/sass/mixins';

.footerBox {
  width: 100vw;
  height: fit-content;
  margin-top: 3rem;
  background-image: linear-gradient(
    to bottom,
    rgba($color-dark, 0),
    rgba($color-dark, 0.5)
  );
  .footer {
    @include sectionInit;
    padding-top: 5rem;
    border-top: 1px solid rgba($color-light, 0.5);
    gap: 3rem;
    margin: auto;
    @include screen-mobile-lg {
      gap: 4rem;
    }
    .logoLink {
      text-align: center;
      .logo {
        width: 80%;
        height: auto;
        @include screen-mobile-lg {
          max-width: 45rem;
        }
      }
    }
    .navLinks {
      display: flex;
      width: 100%;
      max-width: 800px;
      justify-content: center;
      font-size: 1.6rem;
      filter: opacity(0.95);
      @include screen-mobile-lg {
        font-size: 1.8rem;
      }
    }
    .socials {
      width: 70%;
      max-width: 600px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      .socialIcon {
        @include screen-mobile-lg {
          width: 10vw;
          max-width: 4rem;
          height: 10vw;
          max-height: 4rem;
        }
      }
    }
    .copyright {
      filter: opacity(0.75);
      margin-bottom: 1rem;
      @include screen-mobile-lg {
        font-size: 1.4rem;
      }
    }
  }
}
