@import '/styles/sass/mixins';

.featureBox {
  width: 100%;
  height: 30rem;
  margin: 10rem 0;
  position: relative;
  .gridBox {
    position: absolute;
    width: 100vw;
    height: 90%;
    top: 7rem;
    z-index: -10;
    left: -$page-margin-xsmall / 2;
    @include screen-mobile-sm {
      left: -$page-margin-small / 2;
    }
    .grid {
      object-fit: cover;
      object-position: center;
      filter: opacity(0.25);
    }
  }
  .head {
    font-size: 6.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(
      to bottom,
      rgba($color-light, 1) 25%,
      rgba($color-accent, 0.35)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .text {
    position: absolute;
    top: 45%;
    z-index: 2;
    font-size: 1.8rem;
    line-height: 2.8rem;
    width: 75%;
    padding: 2rem 1rem;
    @include textBox;
  }
  .characterBox {
    position: absolute;
    z-index: 1;
    top: 5rem;
  }
  .portalBox {
    position: absolute;
  }
  &.featureBox__right {
    .head {
    }
    .text {
      left: 0;
    }
    .characterBox {
      right: 0;
    }
    .portalBox {
      top: 65%;
      left: 15%;
    }
  }
  &.featureBox__left {
    .head {
    }
    .text {
      right: 0;
    }
    .characterBox {
      left: 0;
    }
    .portalBox {
      top: 35%;
      left: 65%;
    }
  }
}
