@import 'mixins';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: dark;
}

html {
  font-size: 62.5%; /* Equates to 1rem = 10px */
  @include screen-mobile-sm {
    font-size: 73%;
  }
  @include screen-mobile-lg {
    font-size: 87%;
  }
}

body {
  background-image: linear-gradient(
    to bottom right,
    darken($gradient-color-1, 1%),
    darken($gradient-color-2, 1%),
    darken($gradient-color-3, 1%),
    darken($gradient-color-4, 1%)
  );
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 4rem;
  overflow: hidden;
}

section,
nav,
footer {
  min-height: fit-content;
  margin: 0 calc($page-margin-xsmall / 2);
  width: calc(100vw - $page-margin-xsmall);
  max-width: $max-page-width;
  @include screen-mobile-sm {
    margin: 0 calc($page-margin-small / 2);
    width: calc(100vw - $page-margin-small);
  }
  @include screen-desktop-sm {
    margin: 0 calc($page-margin-large / 2);
    width: calc(100vw - $page-margin-large);
  }
}

button {
  border: none;
}
