$color-light: #68eaff;
$color-dark: #020040;
$color-accent: #ee00ff;
$color-white: #fff;
$gradient-color-1: #10518d;
$gradient-color-2: #133884;
$gradient-color-3: #201d75;
$gradient-color-4: #2f176a;

$box-border-radius: 20px;
$btn-border-radius-mobile: 40px;
$btn-border-radius: 14px;

$navbar-height: 5.5rem;
$content-gap: 2rem;
$max-page-width: 1400px;
$page-margin-large: 10rem;
$page-margin-small: 5rem;
$page-margin-xsmall: 2.5rem;
