@import '/styles/sass/mixins';

.featuresSection {
  position: relative;
  text-align: center;
  @include sectionInit;
  @include screen-mobile-lg {
    margin-bottom: 10vw;
  }
  @include screen-desktop-sm {
    margin-bottom: 0;
  }
}
