@import '/styles/sass/mixins';

.featureBox {
  width: 100%;
  height: 30rem;
  margin: 10rem 0;
  position: relative;
  @include screen-mobile-lg {
    height: 40rem;
    margin: 15vw 0;
  }
  @include screen-tablet-sm {
    height: 60rem;
  }
  .gridBox {
    position: absolute;
    width: calc(100% + 2 * $page-margin-xsmall);
    max-width: 1600px;
    height: 90%;
    top: 23%;
    z-index: -10;
    left: -$page-margin-xsmall;
    @include screen-mobile-sm {
      width: calc(100% + 2 * $page-margin-small);
      left: -$page-margin-small;
    }
    @include screen-mobile-lg {
      top: 19vw;
    }
    @include screen-tablet-sm {
      height: 50%;
      top: calc(5rem + 18vw);
    }
    @include screen-tablet-lg {
      top: 32%;
    }
    @include screen-desktop-sm {
      width: calc(100% + 2 * $page-margin-large);
      left: -$page-margin-large;
    }
    @include screen-desktop-lg {
      top: 19rem;
    }
    .grid {
      object-fit: cover;
      object-position: center;
      filter: opacity(0.5);
      @include screen-desktop-lg {
        object-fit: contain;
      }
    }
  }
  .head {
    font-size: 6.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(
      to bottom,
      rgba($color-light, 1) 25%,
      rgba($color-accent, 0.35)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    @include screen-mobile-lg {
      font-size: 18vw;
    }
    @include screen-tablet-lg {
      font-size: 14rem;
    }
  }
  .text {
    position: absolute;
    top: 45%;
    z-index: 2;
    font-size: 1.8rem;
    line-height: 2.8rem;
    width: 75%;
    padding: 2rem 1rem;
    @include textBox;
    @include screen-mobile-lg {
      font-size: 5vw;
      line-height: 7.5vw;
      width: 70%;
      top: 35vw;
    }
    @include screen-tablet-sm {
      padding: 2rem;
      font-size: 4vw;
      line-height: 6vw;
      width: 55%;
    }
    @include screen-tablet-lg {
      font-size: 3rem;
      line-height: 4.5rem;
      width: 40rem;
      top: 25rem;
    }
  }
  .characterBox {
    position: absolute;
    z-index: 1;
    top: 5rem;
    @include screen-mobile-lg {
      top: 14vw;
    }
    @include screen-tablet-sm {
      top: 8rem;
    }
    @include screen-tablet-lg {
      top: 11rem;
    }
  }
  .portalBox {
    position: absolute;
  }
  &.featureBox__right {
    .head {
      @include screen-tablet-lg {
        text-align: right;
      }
      @include screen-desktop-sm {
        padding-right: 5%;
      }
    }
    .text {
      left: 0;
      @include screen-tablet-sm {
        left: unset;
        right: 0;
      }
      @include screen-tablet-lg {
        right: unset;
        left: 35%;
      }
      @include screen-desktop-sm {
        left: 50%;
      }
    }
    .characterBox {
      right: 0;
      @include screen-tablet-sm {
        right: unset;
        left: 0;
      }
      @include screen-tablet-lg {
        left: 7%;
      }
      @include screen-desktop-sm {
        left: 16rem;
      }
    }
    .portalBox {
      top: 66%;
      left: 11%;
      @include screen-mobile-lg {
        left: 7vw;
        top: 50vw;
      }
      @include screen-tablet-sm {
        &:nth-of-type(1) {
          left: unset;
          right: 18vw;
          top: 25vw;
        }
        &:nth-of-type(2) {
          left: unset;
          right: 10vw;
          top: 50vw;
        }
      }
      @include screen-tablet-lg {
        &:nth-of-type(1) {
          left: 40rem;
          right: unset;
          top: 15rem;
        }
        &:nth-of-type(2) {
          left: 45rem;
          right: unset;
          top: 35rem;
        }
      }
      @include screen-desktop-sm {
        &:nth-of-type(1) {
          left: 55rem;
          top: 35rem;
        }
        &:nth-of-type(2) {
          left: 4%;
          top: 10rem;
        }
      }
    }
  }
  &.featureBox__left {
    .head {
      @include screen-tablet-lg {
        text-align: left;
      }
      @include screen-desktop-sm {
        padding-left: 5%;
      }
    }
    .text {
      right: 0;
      @include screen-tablet-sm {
        right: unset;
        left: 0;
      }
      @include screen-tablet-lg {
        left: unset;
        right: 35%;
      }
      @include screen-desktop-sm {
        right: 50%;
      }
    }
    .characterBox {
      left: 0;
      @include screen-tablet-sm {
        left: unset;
        right: 0;
      }
      @include screen-tablet-lg {
        right: 7%;
      }
      @include screen-desktop-sm {
        right: 16rem;
      }
    }
    .portalBox {
      top: 35%;
      right: 11%;
      @include screen-mobile-lg {
        right: 7vw;
        top: 25vw;
      }
      @include screen-tablet-sm {
        &:nth-of-type(1) {
          right: unset;
          left: 18vw;
          top: 25vw;
        }
        &:nth-of-type(2) {
          right: unset;
          left: 10vw;
          top: 50vw;
        }
      }
      @include screen-tablet-lg {
        &:nth-of-type(1) {
          right: 40rem;
          left: unset;
          top: 15rem;
        }
        &:nth-of-type(2) {
          right: 45rem;
          left: unset;
          top: 35rem;
        }
      }
      @include screen-desktop-sm {
        &:nth-of-type(1) {
          right: 55rem;
          top: 35rem;
        }
        &:nth-of-type(2) {
          right: 4%;
          top: 10rem;
        }
      }
    }
  }
}
