@import '/styles/sass/mixins';

.actionSection {
  position: relative;
  height: 35rem;
  @include sectionInit;
  gap: 2rem;
  justify-content: flex-start;
  margin-top: 15rem;
  @include screen-mobile-lg {
    height: 40rem;
    margin-bottom: 15vw;
  }
  @include screen-tablet-sm {
    margin-bottom: 20vw;
  }
  .actionHead {
    font-size: 4.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    @include screen-mobile-lg {
      font-size: 13vw;
    }
  }
  .portalBox {
    position: absolute;
    z-index: -10;
    top: 2rem;
  }
  .characterGroup {
    width: 100vw;
    height: auto;
    @include screen-mobile-lg {
      max-width: 725px;
    }
  }
  .formContainer {
    position: absolute;
    top: 15rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin: auto;
    width: 100%;
    height: fit-content;
    padding: 2rem;
    @include textBox;
    @include screen-mobile-lg {
      max-width: 550px;
      top: 40vw;
    }
    @include screen-tablet-sm {
      max-width: 650px;
      top: 25rem;
      padding: 2.5rem;
    }
    .subText {
      font-size: 1.8rem;
      line-height: 2.8rem;
      @include screen-tablet-sm {
        font-size: 2.8rem;
        line-height: 4.2rem;
      }
      .part {
        color: $color-light;
      }
    }
  }
}
