@import '/styles/sass/animations';
@import '/styles/sass/mixins';

.portalBox {
  position: relative;
  --width: 15rem;
  width: var(--width);
  height: var(--width);
  overflow: hidden;
  .spinnerBox {
    width: var(--width);
    height: var(--width);
    .portal {
      object-fit: contain;
      filter: opacity(0.95);
      animation: rotateClockwise 15s linear infinite;
      @media (prefers-reduced-motion) {
        animation: none;
      }
      @include screen-mobile-lg {
        animation-duration: 22s;
      }
    }
  }
  .logo {
    object-fit: contain;
    scale: 0.5;
  }
}
