@import '/styles/sass/mixins';

.modelSection {
  margin-top: 5rem;
  position: relative;
  --height: 60rem;
  height: var(--height);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas:
    'glasses glasses glasses glasses .'
    '. . . . .'
    '. . . . .'
    '. jacket jacket jacket jacket'
    '. . . . .'
    '. . . . .'
    'pants pants pants pants .'
    '. . . . .'
    '. shoes shoes shoes shoes'
    '. . . . .';
  @include screen-mobile-lg {
    grid-template-areas:
      'glasses glasses glasses . .'
      '. . . . .'
      '. . . . .'
      '. . jacket jacket jacket'
      '. . . . .'
      '. . . . .'
      'pants pants pants . .'
      '. . . . .'
      '. . shoes shoes shoes'
      '. . . . .';
  }
  @include screen-tablet-sm {
    grid-template-areas:
      'glasses glasses . . .'
      '. . . . .'
      '. . . . .'
      '. . . jacket jacket'
      '. . . . .'
      '. . . . .'
      'pants pants . . .'
      '. . . . .'
      '. . . shoes shoes'
      '. . . . .';
    --height: 70rem;
    margin-top: 15rem;
  }
  @include screen-desktop-sm {
    grid-template-areas:
      'glasses glasses . . .'
      '. . . . .'
      '. . . . .'
      '. . . jacket jacket'
      '. . . . .'
      '. . . . .'
      'pants pants . . .'
      '. . . . .'
      '. . . shoes shoes'
      '. . . . .';
  }
  .portal {
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: auto;
    z-index: -1;
    bottom: -6%;
    filter: opacity(0.75);
  }
  .avatar {
    position: absolute;
    width: auto;
    left: 45%;
    top: 58%;
    transform: translate(-50%, -50%);
    height: calc(var(--height) - 7%);
    z-index: -1;
  }
  .callOut {
    text-align: center;
    padding: 1.5rem 1rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    @include textBox;
    @include screen-mobile-lg {
      font-size: 1.8rem;
      line-height: 2.8rem;
    }
    @include screen-tablet-sm {
      font-size: 2.4rem;
      line-height: 3.4rem;
      padding: 2rem 1.5rem;
    }
    @include screen-desktop-sm {
      width: 70%;
      &:nth-child(2n) {
        margin: 0 auto;
      }
      &:nth-child(2n + 1) {
      }
    }
    .callOutTitle {
      display: block;
      font-size: 2rem;
      font-weight: 500;
      color: $color-light;
      text-transform: uppercase;
      @include screen-tablet-sm {
        font-size: 2.8rem;
        line-height: 3.8rem;
      }
    }
    &:nth-of-type(1) {
      grid-area: glasses;
    }
    &:nth-of-type(2) {
      grid-area: jacket;
    }
    &:nth-of-type(3) {
      grid-area: pants;
    }
    &:nth-of-type(4) {
      grid-area: shoes;
    }
  }
}
